@model Herhaling1.ViewModels.StudentBasic

<form asp-controller="Student" asp-action="add">
    <label asp-for="Voornaam">Voornaam</label>
    <input asp-for="Voornaam" />
    <br />
    <label asp-for="Familienaam">Famillienaam</label>
    <input asp-for="Familienaam" />
    <br />
    <input type="submit" value="add" />
</form>